<h1>Visible</h1>
<div class="h2 text-center">House list</div>
<table class="table">
  <thead class="thead-dark">
    <th scope="col">Number</th>
    <th scope="col">Address</th>
    <th scope="col">Route</th>
    <th scope="col">Status</th>
    <th scope="col" colspan="3"></th>
  </thead>
  <% @houses.each do |house| %>
    <tbody>
      <td><%= house.number %></td>
      <td><%= house.address %></td>
      <td><%= house.route %></td>
      <td><%= house.status %></td>
      <td><%= link_to "Details", house_path(house), class: "btn btn-dark btn-sm" %></td>
      <td><%= link_to "Edit", edit_house_path(house), class: "btn btn-dark btn-sm" %></td>
      <td><%= link_to "Delete", house_path(house), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-dark btn-sm" %></td>
    </tbody>
  <% end %>
</table>
